@media (max-width: 85rem) {

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #303841;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
}

nav {
  display: flex;
  position: fixed;
  width: 100vw;
  justify-content: space-evenly;
  background-color: #be3144;
}


ul {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 50rem;
  list-style: none;
}

.nav-list a {
    display: block;
    font-size: 1.5rem;
    padding: 2rem;
}


a {
  color: white;
  text-decoration: none;
}

section {
  display: block;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  padding: 0 2rem 10rem 2rem;
}


#welcome-section > h1 {
  margin: 200px 150px 30px 150px;
  color: white;

}

#welcome-section > p {
  color: #be3144;
}

#projects {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #45567d;
  width: 100%;
  padding: 0 2rem 10rem 2rem;
}



#projects > h2 {
  margin: 90px 0 30px 0;
  font-size: 3rem;
}



.project-image {
    height: calc(100% - 6.8rem);
    width: 40rem;
    object-fit: cover;
}

.project-tile {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

.project-link {
  background-color: #303841
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
}

#contact > h2 {
  font-size: 2rem;
  color: white;
}


footer {
  background: #303841;
  border-top: 4px solid #be3144;
  width: 100%;
  padding: 2rem;
}

}